@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    @apply pl-[300px]
    /* For the sidebar */
}

body {
    @apply bg-stone-100 dark:bg-stone-800;
}

@layer components {
    .sidebar {
        @apply absolute top-0 left-0 h-full w-[320px]
        p-2 overflow-y-auto text-center
        bg-stone-900
    }

    .sidebar-item {
        @apply p-2.5 mt-3 flex items-center rounded-md px-4 duration-300
        cursor-pointer
        hover:bg-blue-600 text-white;
    }

    .sidebar-item-text {
        @apply font-semibold text-[15px] ml-4;
    }

    .content-container {
        @apply flex flex-col
        h-full w-full
        overflow-hidden;
    }

    .text {
        @apply text-stone-800 dark:text-stone-50
    }

    .title {
        @apply m-10 font-bold text text-5xl ;
    }
}