@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    /* For the sidebar */
    @apply pl-[300px] flex h-full flex-col
}

body {
    @apply bg-stone-100 dark:bg-stone-800;
}

.titlebar {
    @apply fixed h-8 select-none flex justify-end top-0 left-0 right-0;
}

.titlebar-button {
    @apply inline-flex justify-center items-center w-8 h-8
    hover:bg-stone-200 dark:hover:bg-stone-700
    fill-stone-800 dark:fill-stone-50
    text-stone-800 dark:text-stone-50;
}

@layer components {
    .sidebar {
        @apply fixed top-0 left-0 h-screen w-[300px]
        p-2 overflow-y-auto text-center
        bg-stone-900 select-none
    }

    .sidebar-item {
        @apply p-2.5 mt-3 flex items-center rounded-md px-4 duration-150
        cursor-pointer
        hover:bg-blue-600 text-white;
    }

    .mini-sidebar-item {
        @apply sidebar-item p-2 mt-2;
    }

    .sidebar-item-text {
        @apply font-semibold text-[15px] ml-4;
    }

    .content-container {
        @apply flex flex-col
        h-full w-full
        overflow-hidden;
    }

    .text {
        @apply text-stone-800 dark:text-stone-50
    }

    .title {
        @apply m-10 font-bold text text-5xl ;
    }
}